@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 1px;
}

// Typography
.home-h1 {
	color: #1d2130;
	font-size: 65px;
	font-style: normal;
	font-weight: 900;
	line-height: 120%; /* 76.8px */
}

.home-h {
	color: #1d2130;
	font-size: 36px;
	font-style: normal;
	font-weight: 900;
	line-height: 120%; /* 76.8px */
}

.h1-h {
	color: #1d2130;
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%; /* 67.2px */
}

.h2-h {
	color: #1d2130;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%; /* 57.6px */
}

.h3-h {
	color: #1d2130;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%; /* 42px */
}

.h4-h {
	color: #1d2130;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%; /* 30px */
}

.h5-h {
	color: #1d2130;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%; /* 21px */
}

.h6-h {
	color: #1d2130;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%; /* 18px */
}

.para {
	color: var(--Secondary-text, #525560);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /* 25.6px */
}

.p-sm {
	color: var(--Secondary-text, #525560);
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /* 22.4px */
}

// Typography
@media screen and (max-width: 768px) {
	/* Typography adjustments for mobile devices */
	.home-h1 {
		font-size: 48px;
		line-height: 120%;
	}

	.home-h {
		font-size: 38px;
		line-height: 120%;
	}

	.h1-h {
		font-size: 32px;
		line-height: 120%;
	}

	.h2-h {
		font-size: 28px;
		line-height: 120%;
	}

	.h3-h {
		font-size: 18px;
		line-height: 150%;
	}

	.h4-h {
		font-size: 16px;
		line-height: 150%;
	}

	.h5-h {
		font-size: 12px;
		line-height: 150%;
	}

	.h6-h {
		font-size: 10px;
		line-height: 150%;
	}

	.p {
		font-size: 14px;
		line-height: 160%;
	}

	.p-sm {
		font-size: 12px;
		line-height: 160%;
	}
}

@mixin flexRow(
	$align: center,
	$justify: flex-start,
	$gap: 10px
) {
	display: flex;
	flex-direction: row;
	align-items: $align;
	justify-content: $justify;
	gap: $gap;
}

@mixin flexCol(
	$align: center,
	$justify: flex-start,
	$gap: 10px
) {
	display: flex;
	flex-direction: column;
	align-items: $align;
	justify-content: $justify;
	gap: $gap;
}

.App {
	width: 100%;
	height: 100%;
}

body {
	background-color: #fff;
}

:root {
	--gray900: #44475b;
	--gray800: #696c7c;
	--gray700: #7c7e8c;
	--gray600: #8f919d;
	--gray500: #a1a3ad;
	--gray400: #b0b2ba;
	--gray300: #c7c8ce;
	--gray200: #dddee1;
	--gray150: #e9e9eb;
	--gray100: #f0f0f2;
	--gray50: #f8f8f8;
	--green500: #00b386;
	--green300: #66e3c4;
	--green100: #ebf9f5;
	--purple500: #5367ff;
	--purple300: #84a4ff;
	--purple100: #eef0ff;
	--yellow500: #ffb61b;
	--yellow100: #fff5e0;
	--red500: #eb5b3c;
	--red100: #fae9e5;
	--dangerouslySetPrimaryBg: #fff;
	--tempNbtPink: #f1e3f3;
	--tempNbtYellow: #fff3c8;
	--tempNbtBlue: #d6eeff;
	--tempNbtGray: #f0f0f2;
	--tempNbtRed: #ffc7bb;
	--bg-transparent-hover: rgba(68, 71, 91, 0.059);
	--bg-accent-hover: #04ad83;
	--bg-accent-subtle-hover: #ddf5ee;
	--bg-transparent-accent-hover: rgba(0, 179, 134, 0.059);
	--bg-positive-hover: #04ad83;
	--bg-positive-subtle-hover: #ddf5ee;
	--bg-transparent-positive-hover: rgba(0, 179, 134, 0.059);
	--bg-negative-hover: #e15a3e;
	--bg-negative-subtle-hover: #f9e0db;
	--bg-transparent-negative-hover: rgba(235, 91, 60, 0.059);
	--bg-transparent-selected: rgba(68, 71, 91, 0.059);
	--bg-accent-selected: #04ad83;
	--bg-accent-subtle-selected: #ddf5ee;
	--bg-transparent-accent-selected: rgba(
		0,
		179,
		134,
		0.059
	);
	--bg-positive-selected: #04ad83;
	--bg-positive-subtle-selected: #ddf5ee;
	--bg-transparent-positive-selected: rgba(
		0,
		179,
		134,
		0.059
	);
	--bg-negative-selected: #e15a3e;
	--bg-negative-subtle-selected: #f9e0db;
	--bg-transparent-negative-selected: rgba(
		235,
		91,
		60,
		0.059
	);
}
